.project-description .project-title,
.contact .contact-title,
.skills-title {
  background-color: var(--green);
  color: white;
  font: var(--headline5);
  align-self: flex-start;
  padding-inline: 8px;
  padding-block: 4px;
  box-shadow: -4px 4px 0px var(--gray);
}

@media screen and (min-width: 768px) {
  .contact .contact-title,
  .skills-title {
    align-self: stretch;
    text-align: center;
  }
}
